.split{
    height: 100%;
    width: 50%;
    
}

.centered{
    text-align: center;
    vertical-align: auto;
}
.rounded-circle{
    padding: 10px;
}
.form-control{
    width: 250px;
    display: inline-block;
}
.login{
    display: inline-block;

    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0px;

     /*elipse 
    border: 1px solid #707070;
    border-radius: 100%;
    */
}


/*
.login img{  
    width: 164px;
}
*/
.pharmacy{
    margin-top: 50px;
}
/*
.pharmacy img{
    width: 470px;
}
*/
.title{
    margin-top: 75px;
    margin-left: 35px;
    text-align: left;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 0.9;
}

.field input{
    margin-top: 50px;
    padding: 15px 15px; 

    width: 500px;


    border: 1px solid #707070;
    opacity: 0.78;

    /* text-align: left; */
    letter-spacing: 0;
    color: #707070;
    opacity: 0.75;
}

.button{

    background: #A74B4B 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

    font: Bold Consolas;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.left{
    
    background: #A74B4B 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.right{
    right:   0px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}