<div class="container col-md-6">
  <form>
    <!-- Selecionar pedido -->
    <div class="form-group">
      <select class="custom-select" name="pedido_id" id="pedido_id">
        <!-- [(ngModel)]="model.select" -->
        <option value="" disabled selected hidden>Pedidos</option>
        <option value="">pedido 1</option>
        <option value="">pedido 2</option>
        <!-- <option *ngFor="let item of list" [ngValue]="item">{{ item }}</option> -->
      </select>
    </div>

    <!-- upload do PDF -->
    <div class="form-group">
      <input type="file" id="myFile" name="filename" />
      <input type="submit" />
    </div>

    <!-- Finalizar registro -->
    <div class="container">
      <button
        class="mat-raised-button"
        style="margin: 15px;"
        type="submit"
        (click)="finalizarRegistro()"
      >
        Finalizar registro
      </button>
    </div>
  </form>
</div>
