<div class="container col-md-6">
    <form>

        <div class="form-group ">
            <input class="form-control" name="cpfDoPaciente" placeholder="CPF" type="text" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="tipoDeExame" placeholder="Tipo de Exames" type="text" />
        </div>

        <div class="form-group ">
            <input class="form-control" name="cid" placeholder="CID" type="text" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="dataRealizacao" placeholder="Data de Realização" type="date" />
        </div>

        <div class="container">
            <button class="mat-raised-button" style="margin: 15px" type="submit" (click)="salvar()">Salvar</button>
        </div>
    </form>

</div>