<mat-toolbar class="text-dark bg-light fixed-bottom">
  <hr class="bg-whit mx4 mt-1 mb-1" />

  <div class="container-fluid">
    <p class="text-center m-0 py-1">
      © 2020 Copyright - ADDC - Unknown - Todos os direitos reservados
    </p>
  </div>
</mat-toolbar>

<!-- <footer class = "text-dark bg-light fixed-bottom">
    <hr class="bg-whit mx4 mt-1 mb-1"> 

    <div class="container-fluid">
        <p class="text-center m-0 py-1">
            © 2020 Copyright - ADDC - Unknown - Todos os direitos reservados
        </p>
    </div>
</footer> -->
