
<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button style="color: #ffffff;">
            <mat-icon (click)="opened = !opened">menu</mat-icon>
        </button>
        <div>
            <a mat-button [routerLink]="'/medicos'"> Médicos </a>
            <a mat-button [routerLink]="'/alunos'"> Alunos </a>
            <a mat-button [routerLink]="'/professores'"> Professores </a>
        </div>
        <div class="botaoFim">
            <a mat-button href='#'> Sair </a>
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened"></mat-sidenav>
    <mat-sidenav-content>
        <app-form-aluno></app-form-aluno>
    </mat-sidenav-content>
</mat-sidenav-container>


<!--
    <app-footer></app-footer>
<app-navegation-bar></app-navegation-bar>
<body>
    <div class="container col-md-6">

    </div>
</body>
<app-footer></app-footer>
-->