<!-- <app-navegation-bar [titulo]="titulo"></app-navegation-bar> -->

<!-- <app-sidenav [title_top]="'Media'"></app-sidenav> -->

<!-- <mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Médicos</span>
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
        >
          expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubmenu }"
        *ngIf="isShowing || isExpanded"
      >
        <a mat-list-item href="...">Adicionar</a>
        <a mat-list-item href="...">Buscar</a>
      </div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Professores</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
        >
          expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubmenu }"
        *ngIf="isShowing || isExpanded"
      >
        <a mat-list-item href="...">Adicionar</a>
        <a mat-list-item href="...">Buscar</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-cadastro-aluno></app-cadastro-aluno>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!--
<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button style="color: #ffffff;">
            <mat-icon (click)="opened = !opened">menu</mat-icon>
        </button>
        <div> {{titulo}}</div>
        <div class="botaoFim">
            <a mat-button href='#'> Sair </a>
        </div>
  
    </mat-toolbar-row>
  </mat-toolbar>
-->

<!--
    <app-footer></app-footer>
<app-navegation-bar></app-navegation-bar>
<body>
    <div class="container col-md-6">

    </div>
</body>
<app-footer></app-footer>
-->
