<div class="container col-md-6" style="margin-top: 15px;">

    <form>

        <div class="form-group ">
            <input class="form-control" name="cpfDoPaciente" placeholder="CPF" type="text" [(ngModel)]="request.paciente_id" />
        </div>

        <mat-form-field>
            <mat-label>Tipo de Exame</mat-label>
            <mat-select [(ngModel)]="request.tipo_exame_id"  name="tpExame">
                <mat-option *ngFor="let tipoExame of tiposExame" [value]="tipoExame.id">
                    {{tipoExame.nome_exame}}
                </mat-option>
            </mat-select>
          </mat-form-field>

        <div class="form-group" >
            <input class="form-control" name="cid" placeholder="CID" type="text" [(ngModel)]="request.cid" />
        </div>

        <div class="form-group" >
            <input class="form-control" name="dataRealizacao" placeholder="Data de Realização" type="date" [(ngModel)]="request.data_prev" />
        </div>

        <div class="form-group" >
            <input class="form-control" name="descDiagnostico" placeholder="Diagnostico" type="text" [(ngModel)]="request.desc_diagn" />
        </div>

        <div class="container">
            <button class="mat-raised-button" style="margin: 15px" type="submit" (click)="salvar()">Salvar</button>
        </div>
    </form>

</div>