button {
  display: inline-block;
  vertical-align: middle;
  background-color: #a74b4b;
  border: 0px;
}
mat-icon {
  color: #ffffff;
  display: flex;
  vertical-align: middle;
  margin: 5px;
}

mat-toolbar {
  background-color: #a74b4b;
  display: flex;
  justify-content: center;
}
.botaoFim {
  color: #ffffff;
  position: absolute;
  right: 10px;
}

.titulo-centro {
  color: #ffffff;
  flex: 1 1 auto;
  text-align: center;
}
