
.pd-top50{
    padding-top: 50px;
}


.rounded-circle{
    padding: 10px;
}
.form-control{
    width: 250px;
    display: inline-block;
}
.login{
    display: inline-block;

    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0px;
}

.title{
    margin-top: 10%;
    margin-left: 7%;
    text-align: left;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 0.9;
}


.button{

    background: #A74B4B 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

    font: Bold Consolas;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.bgVermelho{
    background: #A74B4B 0% 0% no-repeat padding-box;
    /*border: 1px solid #707070;*/
    opacity: 1;
}

