

<div class="container col-md-6">
    <form> 
        <div class="container">
            <button class="button" style="margin: 15px" type="submit">Cadastrar</button>
            <button class="button" style="margin: 15px" type="submit">Desativar</button>
        </div>

        <div class="form-group ">
            <input class="form-control" name="cpf" placeholder="CPF" type="text" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="nome" placeholder="Nome" type="text" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="matricula" placeholder="Matricula" type="number" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="dataDeNascimento" placeholder="Data de Nascimento" type="date" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="senha" placeholder="Senha" type="password" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="cor" placeholder="Cor" type="text" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="sexo" placeholder="Sexo" type="text" />
        </div>
        <div class="form-group ">
            <input class="form-control" name="dataDeResidencia" placeholder="Data limte Residência" type="date" />
        </div>
    </form>
    
</div>
