<form> 
    <div class="container">
        <button class="button" style="margin: 15px" type="submit">Cadastrar</button>
        <button class="button" style="margin: 15px" type="submit">Desativar</button>
    </div>

    <div class="form-group ">
        <input class="form-control" name="cpf" placeholder="CPF" type="text" />
    </div>
    <div class="form-group ">
        <input class="form-control" name="nome" placeholder="Nome" type="text" />
    </div>
    <div class="form-group ">
        <input class="form-control" name="matricula" placeholder="Matricula" type="number" />
    </div>
    <div class="form-group ">
        <input class="form-control" name="anoResiidencia" placeholder="Periodo da residencia" type="date" />
    </div>
    <div class="form-group ">
        <input class="form-control" name="nome" placeholder="Nome" type="password" />
    </div>

</form>
