<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Médicos</span>
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
        >
          expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubmenu }"
        *ngIf="isShowing || isExpanded"
      >
        <a mat-list-item href="...">Adicionar</a>
        <a mat-list-item href="...">Buscar</a>
      </div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Professores</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
        >
          expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubmenu }"
        *ngIf="isShowing || isExpanded"
      >
        <a mat-list-item href="...">Adicionar</a>
        <a mat-list-item href="...">Buscar</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-form-aluno></app-form-aluno>
  </mat-sidenav-content>
</mat-sidenav-container> -->
